extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3.w3-left-align Lista de Tarefas
                    a(href='/registo')
                        i.w3-xxlarge.material-icons.w3-right note_add
            .w3-container
                table.w3-table-all  
                    tr
                        th Descrição
                        th Data Registo
                        th Prazo
                        th Tipo
                        th Açõeseach lt in lista
                        if al.prioridade
                            tr.w3-red
                                td= lt.descricao
                                td= lt.data
                                td= lt.prazo
                                td= lt.tipo
                                td
                                    a(href='/edit?data=' + lt.data).w3-xxlarge.material-icons.w3-right edit
            footer.w3-container.w3-teal
                adress Gerado por PG38425