extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3.w3-left-align Lista de Tarefas
                    a(href='/registo').w3-button.w3-circle.w3-black.w3-right  +
                p Lista de todas as tarefas do utilizador
            .w3-container
                table.w3-table-all  
                    tr
                        th Descrição
                        th Data Registo
                        th Prazo
                        th Tipo
                        th Ações
            footer.w3-container.w3-teal
                adress Gerado por PG38425